<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> {{ viewmodel.title }}</title>
    <meta name="description" content="Hostel Reservation System">
    <link rel="stylesheet" href="{{ URL_ROOT }}/public/bootstrap/5.3/css/dashboard/bootstrap.min.css">
    <link rel="stylesheet" href="{{ URL_ROOT }}/public/kendo/2023.1.117/styles/kendo.default-v2.min.css">

    <script src="{{ URL_ROOT }}/public/jquery/3.6.3/jquery.min.js"></script>
    <script src="{{ URL_ROOT }}/public/kendo/2023.1.117/js/kendo.all.min.js"></script>
    <script src="{{ URL_ROOT }}/public/initialsjs/initials.min.js"></script>
    <script src="{{ URL_ROOT }}/public/custom/js/app.js"></script>
    <script src="https://kit.fontawesome.com/a30b54835d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{{ URL_ROOT }}/public/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
<div id="wrapper"></div>

<script src="{{ URL_ROOT }}/public/bootstrap/5.3/js/bootstrap.min.js"></script>

<script id="layout-template" type="text/kendo-ui-template">
    <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark">
        <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em"
                         fill="currentColor" style="font-size: 41px;">
                        <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                        <path d="M480 0C497.7 0 512 14.33 512 32C512 49.67 497.7 64 480 64V448C497.7 448 512 462.3 512 480C512 497.7 497.7 512 480 512H304V448H208V512H32C14.33 512 0 497.7 0 480C0 462.3 14.33 448 32 448V64C14.33 64 0 49.67 0 32C0 14.33 14.33 0 32 0H480zM112 96C103.2 96 96 103.2 96 112V144C96 152.8 103.2 160 112 160H144C152.8 160 160 152.8 160 144V112C160 103.2 152.8 96 144 96H112zM224 144C224 152.8 231.2 160 240 160H272C280.8 160 288 152.8 288 144V112C288 103.2 280.8 96 272 96H240C231.2 96 224 103.2 224 112V144zM368 96C359.2 96 352 103.2 352 112V144C352 152.8 359.2 160 368 160H400C408.8 160 416 152.8 416 144V112C416 103.2 408.8 96 400 96H368zM96 240C96 248.8 103.2 256 112 256H144C152.8 256 160 248.8 160 240V208C160 199.2 152.8 192 144 192H112C103.2 192 96 199.2 96 208V240zM240 192C231.2 192 224 199.2 224 208V240C224 248.8 231.2 256 240 256H272C280.8 256 288 248.8 288 240V208C288 199.2 280.8 192 272 192H240zM352 240C352 248.8 359.2 256 368 256H400C408.8 256 416 248.8 416 240V208C416 199.2 408.8 192 400 192H368C359.2 192 352 199.2 352 208V240zM256 288C211.2 288 173.5 318.7 162.1 360.2C159.7 373.1 170.7 384 184 384H328C341.3 384 352.3 373.1 349 360.2C338.5 318.7 300.8 288 256 288z"></path>
                    </svg>
                </div>
                <div class="sidebar-brand-text mx-3"><span style="font-size: 27px;">{{ APP_NAME }}</span></div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item"><a class="nav-link active" href="#"><i
                                class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#/reservation-requests"><i
                                class="fas fa-person-walking-luggage"></i><span>Reservation Requests</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#/profile"><i
                                class="fas fa-user"></i><span>Profile</span></a></li>
            </ul>
            <div class="text-center d-none d-md-inline">
                <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
            </div>
        </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light">
                <div class="container-fluid">
                    <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i
                                class="fas fa-bars"></i></button>
                    <ul class="navbar-nav flex-nowrap ms-auto">
                        <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link"
                                                                            aria-expanded="false"
                                                                            data-bs-toggle="dropdown" href="#"><i
                                        class="fas fa-search"></i></a>
                            <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="me-auto navbar-search w-100">
                                    <div class="input-group"><input class="bg-light form-control border-0 small"
                                                                    type="text" placeholder="Search for ...">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary py-0" type="button"><i
                                                        class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        {#   <li class="nav-item dropdown no-arrow mx-1" >
                            <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                                                       aria-expanded="false" data-bs-toggle="dropdown"
                                                                       href="#"><span
                                            class="badge bg-danger badge-counter">3+</span><i
                                            class="fas fa-bell fa-fw"></i></a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                    <h6 class="dropdown-header">alerts center</h6><a
                                            class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="me-3">
                                            <div class="bg-primary icon-circle"><i
                                                        class="fas fa-file-alt text-white"></i></div>
                                        </div>
                                        <div><span class="small text-gray-500">December 12, 2019</span>
                                            <p>A new monthly report is ready to download!</p>
                                        </div>
                                    </a><a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="me-3">
                                            <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i>
                                            </div>
                                        </div>
                                        <div><span class="small text-gray-500">December 7, 2019</span>
                                            <p>$290.29 has been deposited into your account!</p>
                                        </div>
                                    </a><a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="me-3">
                                            <div class="bg-warning icon-circle"><i
                                                        class="fas fa-exclamation-triangle text-white"></i></div>
                                        </div>
                                        <div><span class="small text-gray-500">December 2, 2019</span>
                                            <p>Spending Alert: We've noticed unusually high spending for your
                                                account.</p>
                                        </div>
                                    </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All
                                        Alerts</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1" >
                            <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                                                       aria-expanded="false" data-bs-toggle="dropdown"
                                                                       href="#"><span
                                            class="badge bg-danger badge-counter">7</span><i
                                            class="fas fa-envelope fa-fw"></i></a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                    <h6 class="dropdown-header">alerts center</h6><a
                                            class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                                                   src="{{ URL_ROOT }}/public/images/avatars/avatar4.jpeg">
                                            <div class="bg-success status-indicator"></div>
                                        </div>
                                        <div class="fw-bold">
                                            <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span>
                                            </div>
                                            <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                        </div>
                                    </a><a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                                                   src="{{ URL_ROOT }}/public/images/avatars/avatar2.jpeg">
                                            <div class="status-indicator"></div>
                                        </div>
                                        <div class="fw-bold">
                                            <div class="text-truncate"><span>I have the photos that you ordered last month!</span>
                                            </div>
                                            <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                        </div>
                                    </a><a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                                                   src="{{ URL_ROOT }}/public/images/avatars/avatar3.jpeg">
                                            <div class="bg-warning status-indicator"></div>
                                        </div>
                                        <div class="fw-bold">
                                            <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span>
                                            </div>
                                            <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                        </div>
                                    </a><a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image me-3"><img class="rounded-circle"
                                                                                   src="{{ URL_ROOT }}/public/images/avatars/avatar5.jpeg">
                                            <div class="bg-success status-indicator"></div>
                                        </div>
                                        <div class="fw-bold">
                                            <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span>
                                            </div>
                                            <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                        </div>
                                    </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All
                                        Alerts</a>
                                </div>
                            </div>
                            <div class="shadow dropdown-list dropdown-menu dropdown-menu-end"
                                 aria-labelledby="alertsDropdown"></div>
                        </li>

                        <div class="d-none d-sm-block topbar-divider"></div>
                        #}
                        <li class="nav-item dropdown no-arrow">
                            <div class="nav-item dropdown no-arrow">
                                <a class="dropdown-toggle nav-link"
                                   aria-expanded="false" data-bs-toggle="dropdown"
                                   href="#">
                                    <span
                                            class="d-none d-lg-inline me-2 text-gray-600 small">{{ viewmodel.user.fullname }}</span>
                                    <img
                                            class="border rounded-circle img-profile"
                                            data-name="{{ viewmodel.user.fullname }}"
                                            src="{{ URL_ROOT }}/public/images/avatars/avatar1.jpeg"></a>
                                <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                    <a
                                            class="dropdown-item" href="#/profile"><i
                                                class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#/logout"
                                       data-bind="click: logout"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid" id="content-placeholder"></div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © {{ APP_NAME }} 2023</span></div>
            </div>
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</script>

<script id="dashboard-overview" type="text/kendo-ui-template">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">{{ APP_NAME }} Dashboard</h3>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-6 col-xxl-6 d-flex mb-4">
            <div class="card shadow flex-grow-1 border-start-primary py-2">
                <div class="card-body">
                    <h1 class="fw-bold text-center"><span style="color: rgb(34, 78, 166);"
                                                          data-bind="text: pendingReservationRequestsCount"></span>
                    </h1>
                    <p class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em"
                             height="1em" fill="currentColor"
                             style="margin-right: 4px;font-size: 20px;text-align: center;color: rgb(34,78,166);">
                            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                            <path d="M352 48C352 21.49 373.5 0 400 0C426.5 0 448 21.49 448 48C448 74.51 426.5 96 400 96C373.5 96 352 74.51 352 48zM304.6 205.4C289.4 212.2 277.4 224.6 271.2 240.1L269.7 243.9C263.1 260.3 244.5 268.3 228.1 261.7C211.7 255.1 203.7 236.5 210.3 220.1L211.8 216.3C224.2 185.4 248.2 160.5 278.7 146.9L289.7 142C310.5 132.8 332.1 128 355.7 128C400.3 128 440.5 154.8 457.6 195.9L472.1 232.7L494.3 243.4C510.1 251.3 516.5 270.5 508.6 286.3C500.7 302.1 481.5 308.5 465.7 300.6L439 287.3C428.7 282.1 420.6 273.4 416.2 262.8L406.6 239.8L387.3 305.3L436.8 359.4C442.2 365.3 446.1 372.4 448 380.2L471 472.2C475.3 489.4 464.9 506.8 447.8 511C430.6 515.3 413.2 504.9 408.1 487.8L386.9 399.6L316.3 322.5C301.5 306.4 295.1 283.9 301.6 262.8L318.5 199.3C317.6 199.7 316.6 200.1 315.7 200.5L304.6 205.4zM292.7 344.2L333.4 388.6L318.9 424.8C316.5 430.9 312.9 436.4 308.3 440.9L246.6 502.6C234.1 515.1 213.9 515.1 201.4 502.6C188.9 490.1 188.9 469.9 201.4 457.4L260.7 398L285.7 335.6C287.8 338.6 290.2 341.4 292.7 344.2H292.7zM223.1 274.1C231.7 278.6 234.3 288.3 229.9 295.1L186.1 371.8C185.4 374.5 184.3 377.2 182.9 379.7L118.9 490.6C110 505.9 90.44 511.1 75.14 502.3L19.71 470.3C4.407 461.4-.8371 441.9 7.999 426.6L71.1 315.7C80.84 300.4 100.4 295.2 115.7 303.1L170.1 335.4L202.1 279.1C206.6 272.3 216.3 269.7 223.1 274.1H223.1z"></path>
                        </svg>
                        Pending Reservation Requests
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6 col-xxl-6 d-flex mb-4">
            <div class="card shadow flex-grow-1 border-start-primary py-2">
                <div class="card-body">
                    <h1 class="fw-bold text-center"><span style="color: rgb(246, 143, 0);"
                                                          data-bind="text: overStayedOccupantsCount"></span>
                    </h1>
                    <p class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -64 640 640" width="1em"
                             height="1em" fill="currentColor"
                             style="margin-right: 4px;font-size: 20px;text-align: center;color: rgb(246,143,0);">
                            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                            <path d="M496 224c-79.63 0-144 64.38-144 144s64.38 144 144 144s144-64.38 144-144S575.6 224 496 224zM544 384h-54.25C484.4 384 480 379.6 480 374.3V304c0-8.836 7.164-16 16-16c8.838 0 16 7.164 16 16v48h32c8.838 0 16 7.164 16 15.1S552.8 384 544 384zM224 256c70.7 0 128-57.31 128-128S294.7 0 224 0C153.3 0 96 57.31 96 128S153.3 256 224 256zM320 368c0-19.3 3.221-37.82 8.961-55.2C311.9 307.2 293.6 304 274.7 304H173.3C77.61 304 0 381.7 0 477.4C0 496.5 15.52 512 34.66 512H395C349.7 480.2 320 427.6 320 368z"></path>
                        </svg>
                        Overstayed Occupants
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-xxl-12">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold m-0">Room Availability</h6>
                    <p style="margin-bottom: 0"></p>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="font-size: inherit;">
                        <table class="table">
                            <thead>
                            <tr></tr>
                            </thead>
                            <tbody id="room-availability-table" data-bind="source: hostels"
                                   data-template="room-availability-row-template">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xl-12 col-xxl-12">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold m-0">Most Recent Reservation Requests</h6>
                    <p style="margin-bottom: 0;"><a href="#/reservation-requests" style="color: rgb(90, 110, 238);">View
                            all Requests</a></p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="reservation-requests-table">
                            <thead>
                            <tr></tr>
                            </thead>
                            <tbody data-template="reservation-request-row-template"
                                   data-bind="source: reservationRequests">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="room-availability-row-template" type="text/kendo-ui-template">
    <tr>
        <td data-bind="text: name"></td>
        <td>
            <div class="room-availability-progress-bar" data-role="progressbar" data-type="percent"
                 data-bind="value: roomsOccupiedPercentage, events: {change: onProgressBarChange}" aria-valuemin="0"
                 aria-valuemax="100">
            </div>
        </td>
        <td class="text-center"><span data-bind="text: roomsAvailableHintText"></span>
        </td>
        <td><a class="room-availability-details" href="\\#" data-bind="events: {click: showRoomAvailabilityDetails}"><i
                        class="fa fa-info-circle"></i></a></td>
    </tr>
</script>

<script id="reservation-request-row-template" type="text/kendo-ui-template">
    <tr>
        <!-- Bind and format date using data-format attribute -->
        <td data-bind="text: reservation_request_date" data-format="dd/MM/yyyy"></td>
        <td data-bind="text: hostel.name"></td>
        <td data-bind="text: requester_name"></td>
        <td data-bind="text: status"></td>
        <td>
            <a href="\\#" data-bind="events: {click: showReservationRequestApprovalModal}, visible: isRequestPending ">Approve/Reject</a>
        </td>
    </tr>
</script>

<script id="reservation-approval-modal" type="text/kendo-ui-template">
    <div class="row">
        <!-- Modal Content -  Reservation Request Approval -->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Hostel:</strong> <span data-bind="text: getHostelName"></span></p>

                    <!-- Add warning hint text if there are no rooms available in the hostel -->
                    <!-- Use Kendo template syntax to conditionally display the hint text -->
                    # if (!dashboardModel.hasRoomsAvailable(data)) { #
                    <p class="text-danger">There are no rooms available in this hostel. Please reject this reservation
                        request.</p>
                    # } #
                </div>
                <div class="col-md-12">
                    <p><strong>Requester:</strong> <span data-bind="text: requester_name"></span></p>
                </div>
                <div class="col-md-12">
                    <p><strong>Room Type:</strong> <span data-bind="text: room_type"></span></p>
                </div>
                <div class="col-md-12">
                    <p><strong>Check In Date:</strong> <span data-bind="text: check_in_date"
                                                             data-format="dd/MM/yyyy"></span></p>
                </div>
                <div class="col-md-12">
                    <p><strong>Check Out Date:</strong> <span data-bind="text: check_out_date"
                                                              data-format="dd/MM/yyyy"></span></p>
                </div>
                <div class="col-md-12">
                    <p><strong>Reservation Request Date:</strong> <span
                                data-bind="text: reservation_request_date" data-format="dd/MM/yyyy"></span>
                    </p>
                </div>
            </div>
        </div>

        <!-- Approve and reject buttons -->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <!-- Disable the approval button if there are no rooms available in the hostel -->
                    <button class="btn btn-primary approve-button" data-bind="enabled: hasRoomsAvailable">Approve
                    </button>

                </div>
                <div class="col-md-6">
                    <button class="btn btn-danger reject-button">Reject</button>
                </div>
            </div>
        </div>

    </div>

</script>

<!-- View all reservation requests template -->
<script id="reservation-requests" type="text/kendo-ui-template">
    <div class="col-md-12">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <h3 class="text-dark fw-bold m-0">All Reservation Requests</h3>
                <!-- Add a link to the dashboard overview -->
                <p><a href="\\#/" style="color: rgb(90, 110, 238);"> <i class="fa fa-arrow-left"></i> Back to Dashboard</a>
                </p>
                <!-- Kendo UI Grid, bootstrap style -->
                <div id="reservation-requests-grid" data-role="grid" data-bind="source: reservationRequests"
                     data-pageable="true" data-filterable="true" data-sortable="true" data-editable="false"
                     data-selectable="true" data-resizable="true" data-compact="false"
                     data-columns="[
                        { field: 'reservation_request_date', title: 'Reservation Request Date', format: '{0:dd/MM/yyyy}' },
                        { field: 'check_in_date', title: 'Check In Date', format: '{0:dd/MM/yyyy}' },
                        { field: 'check_out_date', title: 'Check Out Date', format: '{0:dd/MM/yyyy}' },
                        { field: 'requester_name', title: 'Requester' },
                        { field: 'status', title: 'Status' },
                        { field: 'room_type', title: 'Room Type' },
                        { command: [ { name: 'approval', text: 'Approve/Reject', click: dashboardModel.showReservationRequestApprovalModal, visible: dashboardModel.isRequestPending } ], title: 'Actions' }
                    ]">

                </div>
            </div>
        </div>
    </div>
</script>

<!-- Profile template -->
<script id="profile" type="text/kendo-ui-template">
    {# Responsive profile card template #}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-dark fw-bold m-0">Profile</h3>
                            <!-- Add a link to the dashboard overview -->
                            <p><a href="#/" style="color: rgb(90, 110, 238);"> <i class="fa fa-arrow-left"></i> Back
                                    to Dashboard</a>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="#" class="img-profile" data-name="{{ viewmodel.user.fullname }}">
                                </div>
                                <div class="col-md-8">
                                    <p><strong>Name:</strong> {{ viewmodel.user.fullname }}</p>
                                    <p><strong>Email:</strong> {{ viewmodel.user.email }}</p>
                                    <p><strong>Phone:</strong> {{ viewmodel.user.phone }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    var viewModel = {{ viewmodel | json_encode | raw }};

    var dashboardModel = kendo.observable({
        // Set the pending reservation requests count
        pendingReservationRequestsCount: 0,
        // Set the over stayed occupants count
        overStayedOccupantsCount: viewModel.overstayed_occupants_count,

        pageTitle: viewModel.title,

        // Use a kendo DataSource to bind the hostels data
        hostels: new kendo.data.DataSource({
            data: viewModel.hostels,
            schema: {
                model: {
                    id: 'id',
                    fields: {
                        id: {type: 'number'},
                        name: {type: 'string'},
                        available_rooms: {type: 'number'},
                        occupied_rooms: {type: 'number'},
                        total_rooms: {type: 'number'},
                        status: {type: 'string'}
                    }
                }
            }
        }),

        // Use a kendo DataSource to bind the reservation requests
        reservationRequests: new kendo.data.DataSource({
            data: viewModel.reservation_requests,
            schema: {
                model: {
                    id: 'id',
                    fields: {
                        reservation_request_date: {type: 'date'},
                        check_in_date: {type: 'date'},
                        check_out_date: {type: 'date'},
                        hostel: {
                            id: 'id',
                            fields: {
                                id: {type: 'number'},
                                name: {type: 'string'},
                                available_rooms: {type: 'number'},
                                occupied_rooms: {type: 'number'},
                                total_rooms: {type: 'number'},
                                status: {type: 'string'},
                            },
                        }
                    },
                    // Override the get method to fetch the hostel object from the hostels data source
                    get: function (fieldName) {
                        if (fieldName === 'hostel') {
                            // Use the hostel id to get the hostel object from the hostels data source
                            return dashboardModel.hostels.get(this.hostel.get('id'));
                        } else if (fieldName.startsWith('hostel.')) {
                            // Get the hostel field
                            var hostel = dashboardModel.hostels.get(this.hostel.get('id'));
                            // Get the hostel field name
                            var hostelFieldName = fieldName.replace('hostel.', '');
                            // Return the hostel field value
                            return hostel[hostelFieldName];
                        } else {
                            // Call the base get method
                            return kendo.data.Model.fn.get.call(this, fieldName);
                        }
                    },
                    // Override the set method to set the hostel object
                    set: function (fieldName, value) {
                        // Set value in the hostels data source
                        if (fieldName === 'hostel') {
                            // Get the hostel object from the hostels data source
                            this.hostel = dashboardModel.hostels.get(value.id);
                        } else {
                            // Call the base set method
                            kendo.data.Model.fn.set.call(this, fieldName, value);
                        }
                    }
                }
            },
            // Sort the reservation requests by reservation request date in descending order
            sort: {
                field: 'reservation_request_date',
                dir: 'desc'
            },
            change: function () {
                // Count the pending reservation requests
                dashboardModel.countPendingReservationRequests();
            }
        }),

        // Count pending reservation requests
        countPendingReservationRequests: function () {
            // Get the pending reservation requests
            var pendingReservationRequests = dashboardModel.reservationRequests.data().filter(function (reservationRequest) {
                return reservationRequest.get('status') === 'Pending';
            });
            // Set the pending reservation requests count
            dashboardModel.set('pendingReservationRequestsCount', pendingReservationRequests.length);
        },

        // Show the room availability details
        showRoomAvailabilityDetails: function (e) {
            var hostel = e.data;
            // Create a tooltip with the room availability details. Display the tooltip on click of the "Show full details" link
            var tooltip = $('<div class="room-availability-tooltip"></div>').kendoTooltip({
                position: 'top',
                width: 200,
                content: function () {
                    // Display rooms occupied, rooms available, total rooms, and hostel name. Display the hostel name in bold
                    return "Hostel: <strong>" + hostel.get('name') + "</strong><br/>" +
                        "Rooms Occupied: " + (hostel.get('total_rooms') - hostel.get('available_rooms')) + "<br/>" +
                        "Rooms Available: " + hostel.get('available_rooms') + "<br/>" +
                        "Total Rooms: " + hostel.get('total_rooms') + "<br/>";
                }
            }).data('kendoTooltip');
            tooltip.show($(e.target));
        },

        // Check if the hostel has rooms available
        hasRoomsAvailable: function (dataItem) {
            return dataItem.get('hostel.available_rooms') > 0;
        },

        // Rooms available hint text
        roomsAvailableHintText: function (hostel) {
            var availableRooms = hostel.get('available_rooms');
            var totalRooms = hostel.get('total_rooms');
            return availableRooms === 0 ? 'No rooms available' : availableRooms + ' of ' + totalRooms + ' rooms available';
        },

        // Check if the reservation request is pending
        isRequestPending: function (dataItem) {
            console.log(dataItem.get('status'));
            return dataItem.get('status') === 'Pending';
        },

        // Check if all rooms are occupied
        allRoomsOccupied: function (dataItem) {
            return dataItem.get('hostel.available_rooms') === 0;
        },

        // Append a suffix to the hostel name based on the number of rooms available
        getHostelName: function (dataItem) {
            var hostelName = dataItem.get('hostel.name');
            if (dataItem.get('hostel.available_rooms') === 0) {
                hostelName += ' (No rooms available)';
            } else if (dataItem.get('hostel.available_rooms') === 1) {
                hostelName += ' (1 room available)';
            } else {
                hostelName += ' (' + dataItem.get('hostel.available_rooms') + ' rooms available)';
            }
            return hostelName;
        },

        showReservationRequestApprovalModal: function (e) {
            var reservationRequest = dashboardModel.getDataItem(e);
            // Create a modal with the reservation request details and approve and reject buttons. Display the modal on click of the "Approve/Reject" link
            var modal = $('<div class="reservation-approval-modal"></div>').kendoWindow({
                title: 'Reservation Request Approval',
                width: 400,
                // responsive height
                height: 'auto',
                modal: true,
                resizable: false,
                // Centered horizontally and vertically on the screen
                position: {
                    top: '50%',
                    left: '50%'
                },
                activate: function () {
                    // Set the modal content
                    var modalContent = $('#reservation-approval-modal').html();
                    // Parse the modal content as a kendo template
                    var template = kendo.template(modalContent);
                    // Render the template with the reservation request details
                    var modalHtml = template(reservationRequest);
                    // Set the modal content
                    modal.content(modalHtml);
                    // Bind the data to the modal
                    kendo.bind(modal.element, reservationRequest);

                    // Bind the approval and reject buttons click events
                    $('.approve-button').on('click', function () {

                        // Reduce the available rooms count
                        reservationRequest.get('hostel').set('available_rooms', reservationRequest.get('hostel.available_rooms') - 1);
                        // Increase the occupied rooms count
                        reservationRequest.get('hostel').set('occupied_rooms', reservationRequest.get('hostel.occupied_rooms') + 1);
                        // Update the status
                        reservationRequest.set('status', 'Approved');

                        // Get from hostels data source the hostel
                        var hostel = dashboardModel.hostels.get(reservationRequest.get('hostel.id'));
                        // Update the hostel data item
                        hostel.set('available_rooms', reservationRequest.get('hostel.available_rooms'));
                        hostel.set('occupied_rooms', reservationRequest.get('hostel.occupied_rooms'));

                        // Close the modal
                        modal.close();

                        // Sync the reservation requests data source
                        dashboardModel.reservationRequests.sync();
                    });
                    $('.reject-button').on('click', function () {
                        // Update the status
                        reservationRequest.set('status', 'Rejected');
                        // Close the modal
                        modal.close();
                        // Sync the reservation requests data source
                        dashboardModel.reservationRequests.sync();
                    });
                    // Close the modal on click of the page overlay
                    $('.k-overlay').on('click', function () {
                        modal.close();
                    });
                },
            }).data('kendoWindow');

            // Display the modal centred horizontally and vertically
            modal.center().open();
        },

        // Calculate the percentage of rooms occupied
        roomsOccupiedPercentage: function (dataItem) {
            return dataItem.get('total_rooms') > 0 ? dataItem.get('occupied_rooms') / dataItem.get('total_rooms') * 100 : 0;
        },

        // Progress bar change event handler
        onProgressBarChange: function (e) {
            var progressBar = e.sender;
            // Get the progress bar value
            var value = progressBar.value();
            // Set the progress bar color based on the percentage of rooms occupied
            if (value <= 50) {
                progressBar.element.find('.k-selected').css('background-color', '#3d803d');
            } else if (value <= 75) {
                progressBar.element.find('.k-selected').css('background-color', '#f0ad4e');
            } else {
                progressBar.element.find('.k-selected').css('background-color', '#d9534f');
            }
        },

        // Get dataitem from onclick event
        getDataItem: function (e) {
            // If event is triggered by a Kendo ui grid command button, get the data item from the nearest grid row
            if (e.data.hasOwnProperty('commandName')) {
                return $(e.delegateTarget).data('kendoGrid').dataItem($(e.target).closest('tr'));
            }
            return e.data;
        },
    });

    // Create Views and Layouts
    var layout = new kendo.Layout('layout-template', {model: dashboardModel, wrap: false, evalTemplate: false});
    var dashboardOverview = new kendo.View('dashboard-overview', {
        model: dashboardModel,
        wrap: false,
        evalTemplate: false
    });
    var reservationRequestsView = new kendo.View('reservation-requests', {
        model: dashboardModel,
        wrap: false,
        evalTemplate: true
    });

    // Create the router
    var router = new kendo.Router({
        init: function () {
            layout.render('#wrapper');
            // Run post render code
            postViewRender();
        },
        change: function (e) {
            // navigate to the url
            console.log(e.url);
        },
    });

    // Add the routes
    router.route('/', function () {
        // Filter the reservation requests for the 4 most recent reservation requests
        dashboardModel.reservationRequests.query({
            page: 1,
            pageSize: 4,
            sort: {
                field: 'reservation_request_date',
                dir: 'desc'
            }
        });

        // Render the dashboard overview view
        layout.showIn('#content-placeholder', dashboardOverview);
    });

    // Reservation Requests route
    router.route('/reservation-requests', function () {

        // If the reservation requests data source is empty, fetch the data
        if (!dashboardModel.reservationRequests.data().length) {
            // Bind the reservation requests data source
            dashboardModel.reservationRequests.fetch();
        }

        // If the hostels data source is empty, fetch the data
        if (!dashboardModel.hostels.data().length) {
            // Bind the hostels data source
            dashboardModel.hostels.fetch();
        }

        // Set page size to 15
        dashboardModel.reservationRequests.pageSize(15);

        // Reset the reservation requests sort order
        dashboardModel.reservationRequests.sort({
            field: 'reservation_request_date',
            dir: 'desc'
        });

        // Render the reservation requests view
        layout.showIn('#content-placeholder', reservationRequestsView);

        // Get the reservation requests grid
        var reservationRequestsGrid = $('#reservation-requests-grid').data('kendoGrid');
        // Specify the reservation requests grid columns

    });

    // Profile route
    router.route('/profile', function () {
        var profileView = new kendo.View('profile', {
            model: dashboardModel,
            wrap: false,
            evalTemplate: false
        });
        // Render the profile view
        layout.showIn('#content-placeholder', profileView);
        postViewRender();
    });

    // Logout route
    router.route('/logout', function () {
        // Logout the user
        // External route
        window.location.href = '{{ URL_ROOT }}' + '/dashboard/logout';
    });

    // Document ready
    $(function () {
        // Start the router
        router.start();
    });
</script>


</body>

</html>